<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\Cart\ImageProvider">
        <plugin name="dubslack_checkoutthumbnail_add_default_thumbnail"
                type="Dubslack\CheckoutThumbnail\Plugin\AddDefaultThumbnail"
                sortOrder="100"/>
    </type>
</config>
